
@{
    ViewBag.Title = "PostGrievance";
    Layout = "~/Areas/Staff/Views/Shared/StaffDashboard.cshtml";
}

@*<h2>Post Grievance</h2>*@
<body ng-app="GR">
    @using System.Configuration;
    <div ng-controller="UsersController">
        <form name="form" id="frmCRUD" class="m-form m-form--fit m-form--label-align-right">
            <div class="form-body">
                <div class="m-portlet m-portlet--tab">

                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Post Grievance
                                    </h3>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group m-form__group" ng-init="GetInfo()">
                        <label for="exampleGrievance">Grievance Type</label>
                        <select class="form-control m-input" id="exampleGrievance" ng-model="GriveanceType">

                            <option ng-repeat="s in Grievance" value="{{s.grivance_id}}">{{s.grivance_name}}</option>

                        </select>
                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputName">Subject</label>
                        <input type="text" class="form-control m-input" id="Subject" placeholder="Subject" ng-model="Subject" autocomplete="off" required />
                      
                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmpCode">Post Details</label>
                        <input type="text" class="form-control m-input" placeholder="Post Details" ng-model="PostDetails" name="PostDetails" autocomplete="off" required />


                    </div>



                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button  class="btn btn-primary" ng-click="SavePost()">Submit</button>
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                </div>
                </div>
</form>
    </div>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery/dist/jquery.min.js"></script>

    <script src="@Url.Content("~/Content/angularjs/scripts/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ProjectScript/Member/MemberModule.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/Service.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ProjectScript/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common/CoomonFunctions.js")"></script>
    <script src="@Url.Content("~/Scripts/Common/customize.js")"></script>

    <script>
        var baseURL = "@ConfigurationManager.AppSettings["BaseUrlPath"].ToString()";
    </script>
</body>
